@font-face {
    font-family: 'Beau Rivage';
    src: url('../fonts/BeauRivage-Regular.eot');
    src: url('../fonts/BeauRivage-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BeauRivage-Regular.woff2') format('woff2'),
        url('../fonts/BeauRivage-Regular.woff') format('woff'),
        url('../fonts/BeauRivage-Regular.ttf') format('truetype'),
        url('../fonts/BeauRivage-Regular.svg#BeauRivage-Regular') format('svg');
    font-weight: 900;
    font-style: ;
    font-display: swap;